* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default Light Mode */
:root {
  --primary-color: #007bff; /* Light mode color */
}

/* Dark Mode */
[data-bs-theme="dark"] {
  --primary-color: #66aaff; /* Dark mode color */
}



/* General Styles */
body {
  /* font-family: 'Roboto', Arial, sans-serif; */
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#navbar-placeholder{
  position: fixed;
  top: 0;
  width: 100vw;
}

/* Content Container */
.content {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: 280px;
  margin-top: 56px;
  width: 100%;
}

main{
  flex: 1;
}


pre {
  background-color: #252526;
  color: #dcdcaa;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  overflow: auto;
  width: 60%; /* Adjust width as needed */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for better look */
}


/* Padding for inner content */
.content p,
.content h2,
.content h3,
.content ul {
  margin: 0 0 15px;
}

.content p {
  font-size: 16px;
}

/* Headings */
h2 {
  font-size: 28px;
  color: #444;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
  border-bottom: 2px solid #ddd;
  margin: 0;
}

h3 {
  font-size: 22px;
  color: var(--primary-color);;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}


ul.feature-list li strong,
ul.usage-list li strong,
ul.beginner-benefits li strong {
  color: var(--primary-color);
}


/* Styling buttons (if needed in future) */
button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 991px) {
  .content {
    margin: 10px;
    margin-top: 70px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  ul li {
    font-size: 14px;
  }

  #navbar-placeholder{
    position: sticky;
    top: 0;
    z-index: 4;
  }

  #sidebar-placeholder{
    position: sticky;
    top: 60px;
  }

  .offcanvas{
    margin-top: 62px;
  }
}














/* 
h3 {
  font-size: 22px;
  color: #2196f3;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}


ul.feature-list li strong,
ul.usage-list li strong,
ul.beginner-benefits li strong {
  color: #64b5f6;
} */